body {
    margin: 0;
    padding: 0;
    background-color: bisque;
    background:url('background.jpg') no-repeat top right #140355dd;
    background-size: cover;
}
p{
    font-family: Arial;
    font-size: 30px;
    color: rgb(228, 234, 238);
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px #07f23a;
    clear: left;

}
#para{
    color: aliceblue;
    display:inline-block;
}

img{
    float: left;
}